.forgot{
    margin: 125px auto;
    width: 665px;
    height: 532px;
    border-radius: 5%;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    font-size: 28px;
    font-family: 'Arial Black','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }
  