* {
    padding: 0;
    margin: 0;
  }

  header .p1{
    text-align: center;
  }

  .my{
    display: flex;   
	  flex-wrap: wrap;
	  gap: 10px;
    font-family: 'Arial Black','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }

  .namer{
    font-size: 28px;
    text-align: center;
    font-family: 'Arial Black','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }

  .pro{
    margin-top: 100px;
    padding: 30px;
  }

.proga img{
  border-radius: 50%;
}


  
 